.hideScrollbar {
    overflow-y: hidden;
}


.pokemonOverlay {
    border-radius: 25px;
    color: black;
    text-align: center;
    width: 300px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    transform: scale(0.9);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.pokemonOverlay.show {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}



#evolutionChain {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.evolvePokemonImg {
    cursor: pointer;
    background-color: white;
    width: 30px;
    height: 30px;
    border: solid 1px white;
    border-radius: 50%;
    padding: 5px;
}

.evolvePokemonImg:hover {
    background-color: gold;
}


li {
    font-size: 10px;
}


#overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10;
}

#actualPokemonImg {
    width: 150px;
    height: 150px;
}


#baseStats {
    height: 50%;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#about {
    height: 50%;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: space-around;
}

#moves {
    height: 50%;
    overflow: hidden;
    width: 100%;
}

.myProgress {
    width: 50%;
    background-color: grey;
    height: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#myBarATT {}

.myBar {
    background-color: black;
    height: 5px;
    width: 20%;
}

.showProgressBars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border: solid 1px black;
    border-radius: 10px;
}

.arrow-img {
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 10;
}

.arrow-img:hover {
    filter: saturate(2)
}

.firstRowInCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}