html {
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #082129;
    color: #2f728d;
    display: flex;
    justify-content: center;
    scroll-behavior: smooth;
}

header {
    height: 120px;
    width: 100%;
    background-color: #082129;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1920px;
}

header svg {
    width: 40px;
    height: 40px;
}

#leftHeader {
    display: flex;
    align-items: center;
    gap: 5px;
}



input {
    width: 70%;
    background-color: #f5f5f5;
    color: #242424;
    min-height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    line-height: 1.15;
    box-shadow: 0px 10px 20px -18px;
    text-align: center;
}

input:focus {
    border-bottom: 2px solid #5b5fc7;
    border-radius: 4px 4px 2px 2px;
}

input:hover {
    outline: 1px solid lightgrey;
}

#searchButton {
    padding: 10px;
}

#searchButton:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

#searchButton:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}

a {
    text-decoration: none;
    font-size: 3em;
    font-weight: bold;
    cursor: pointer;
    color: #2f728d;
}

a:hover {
    filter: saturate(2);
    color: gold;
}

#rightHeader {
    display: flex;
    align-items: center;
    gap: 5px;
}

header p {
    font-size: 2em;
    padding: 1px;
}

body {
    margin: 0;
    max-width: 1920px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 100%;
    height: 100%;
    min-height: 70vh;
    background-color: #05171e;
    flex-wrap: wrap;
    display: flex;
    overflow-y: auto;
}

.pokemon {
    width: 120px;
    height: 120px;
}

.d_none {
    display: none;
}

.hideScrollbar {
    overflow-y: hidden;
}

.showOnCentreOfThePage {
    display: flex;
    justify-content: center;
}

#loadingSection {
    background: #05171e;
    margin: 0;
    height: 30vh;
    width: 100%;
    position: sticky;
    top: 250px;

}

.pokeball {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #082129 50%, #082129 50%);
    border: 4px solid #4fa1c0;
    box-shadow: 0 0 0 4px #4fa1c0;
    position: relative;
    animation: shake 1.5s ease-in-out infinite;
}

.pokeball::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    background: #082129;
    border: 3px solid #4fa1c0;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    box-shadow: 0 0 0px #4fa1c0;
    animation: blink 1.5s ease-in-out infinite;
}

.pokeball::after {
    content: "";
    position: absolute;
    top: 49%;
    left: 0;
    width: 100%;
    height: 4px;
    background: #4fa1c0;
    z-index: 1;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    15% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(15deg);
    }

    45% {
        transform: rotate(-10deg);
    }

    60% {
        transform: rotate(10deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    90% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes blink {

    0%,
    100% {
        box-shadow: 0 0 0px #4fa1c0;
    }

    15%,
    45%,
    75% {
        box-shadow: 0 0 12px 6px #4fa1c0;
    }

    30%,
    60%,
    90% {
        box-shadow: 0 0 6px 3px #4fa1c0;
    }
}

#pokemonSection {
    width: 100%;
    max-width: 1920px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    gap: 10px;
}

.pokemonDiv {
    border-radius: 25px;
    color: white;
    text-align: center;
    width: 140px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.pokemonOverlay {
    border-radius: 25px;
    color: black;
    text-align: center;
    width: 300px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    transform: scale(0.9);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.pokemonOverlay.show {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.pokemonDiv:hover {
    cursor: pointer;
    filter: brightness(1.1);
    transform: translate(0px, -5px);
    transition: transform 0.3s ease;
}

.german {
    display: none;
}

#evolutionChain {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.evolvePokemonImg {
    cursor: pointer;
    background-color: white;
    width: 30px;
    height: 30px;
    border: solid 1px white;
    border-radius: 50%;
    padding: 5px;
}

.evolvePokemonImg:hover {
    background-color: gold;
}

.typeImgs {
    height: 30px;
    width: auto;
}

.typeRow img {
    height: 30px;
    width: 60px;
}

#loadButtonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}

.loadButton {
    border-radius: 5px;
    cursor: pointer;
    background-color: #68a1b3;
    padding: 10px;
    font-weight: bold;
}

.loadButton:hover {
    background-color: gold;
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

.loadButton:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}

footer {
    height: 120px;
    width: 100%;
    background-color: #082129;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 2em;
    max-width: 1920px;
}

#impressum {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    background-color: #082129;
    flex-wrap: wrap;
    word-wrap: break-word;
    overflow: hidden;
}

#impressumButton {
    border-radius: 5px;
    cursor: pointer;
    background-color: #68a1b3;
    padding: 10px;
    font-weight: bold;
}

#impressumButton:hover {
    background-color: gold;
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

#impressumButton:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}

#pokedexInFooter {
    display: flex;
    flex-direction: row;
}

@media (max-width: 700px) {
    .pokemonDiv {
        width: 200px;
        height: 200px;
        flex-direction: column;
        align-items: center;
    }

    #rightHeader {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header {
        flex-direction: column;
        justify-content: center;
        height: 200px;
    }

    #leftHeader {
        scale: 0.7;
    }
}

@media (max-width: 550px) {

    .pokemonDiv {
        width: 150px;
        height: 150px;
    }

    .pokemon {
        width: 80px;
        height: 80px;
    }

    #pokemonSection {
        flex-direction: column;
        align-items: center;
    }

    .typeRow img {
        height: 20px;
        width: 40px;
    }

    .pokemonOverlay {
        width: 250px;
        height: 600px;
    }

    #baseStats {
        font-size: 14px;
    }

    footer {
        display: flex;
        font-size: 16px;
    }
}

/*Overlay Section*/

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10;
}

#overlay:hover {
    opacity: 1;
}

#overlay::after {
    opacity: 0;
    transition: opacity 0.3s ease;
}

#actualPokemonImg {
    width: 150px;
    height: 150px;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navBar p {
    opacity: 0.7;
    text-decoration: underline;
}

.navBar p:hover {
    cursor: pointer;
    color: gold;
    filter: saturate(2);
    text-decoration: none;
}

#baseStats {
    height: 50%;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#about {
    height: 50%;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: space-around;
}

#moves {
    height: 50%;
    overflow: hidden;
    width: 100%;
}

.myProgress {
    width: 50%;
    background-color: grey;
    height: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#myBarATT {}

.myBar {
    background-color: black;
    height: 5px;
    width: 20%;
}

.showProgressBars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border: solid 1px black;
    border-radius: 10px;
}

/*Arrow Section*/

.arrow-img {
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 10;
}

.arrow-img:hover {
    filter: saturate(2)
}

/*Pokemon Card*/

.firstRowInCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}